<!-- 🔔 TOAST -->
<div *ngIf="showToast" class="toast-notification">
  {{ toastMessage }}
</div>


<div class="form-box">
  <h2>Login to Train Booking App</h2>

  <form (ngSubmit)="onLogin()">
    <div class="form-group">
      <label for="login-email">Email</label>
      <input type="email" id="login-email" name="email" [(ngModel)]="email" placeholder="Enter your email"
        autocomplete="email" required />
    </div>

    <div class="form-group password-group">
      <label for="login-password">Password</label>
      <div class="password-wrapper">
        <input [type]="showPassword ? 'text' : 'password'" [(ngModel)]="password" name="password"
          placeholder="Enter your password" autocomplete="current-password" required />
        <span class="toggle-icon" (click)="togglePasswordVisibility()" title="Toggle Password Visibility">
          {{ showPassword ? '🙈' : '👁️' }}
        </span>
      </div>


    </div>


    <button type="submit">
      <i class="fas fa-sign-in-alt"></i> Login
    </button>
  </form>

  <p class="form-footer">
    Forgot password?
    <a href="#" (click)="showForgot.emit(); $event.preventDefault()">Click here</a>
  </p>

  <p class="form-footer">
    Don’t have an account?
    <a href="#" (click)="switchToSignup.emit(); $event.preventDefault()">Sign Up</a>
  </p>
</div>
