<div class="reset-box glass-style">
  <!-- ✖ Close Button -->
  <div class="close-btn" (click)="goToLogin()">×</div>
  <h2>🔐 Reset Password</h2>

  <div *ngIf="errorMessage" class="error">{{ errorMessage }}</div>
  <div *ngIf="successMessage" class="success">{{ successMessage }}</div>

  <div class="input-group">
    <input [type]="showNewPassword ? 'text' : 'password'" placeholder="New Password" [(ngModel)]="newPassword" />
    <span class="toggle" (click)="showNewPassword = !showNewPassword">
      {{ showNewPassword ? '🙈' : '👁️' }}
    </span>
  </div>

  <div class="input-group">
    <input [type]="showConfirmPassword ? 'text' : 'password'" placeholder="Confirm Password"
      [(ngModel)]="confirmPassword" />
    <span class="toggle" (click)="showConfirmPassword = !showConfirmPassword">
      {{ showConfirmPassword ? '🙈' : '👁️' }}
    </span>
  </div>


  <button (click)="resetPassword()">Reset Password</button>
</div>
